MSResourceExchange/Workflows/BatchUpload-ResourceOffers-F39FDFF4-F141-EE11-BDF3-000D3A1C0C13.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_23909"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_d636c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_784b4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added": {
          "metadata": {
            "operationMetadataId": "d5523879-af6d-48d9-9129-1b3f3ffd95eb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msrex_offers",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "msresour_attachment,msresour_batchupload"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "031b3660-fae2-4d42-8d40-166123e75454"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_a_row_by_ID_2')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "@@@odata.context": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "@@@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "@@@odata.id": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "@@@odata.etag": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "@@@odata.editLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_description": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "cra66_attachment_name": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owningbusinessunit_value@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owningbusinessunit_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owningbusinessunit_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owningbusinessunit_value@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owningbusinessunit_value": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owninguser_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owninguser_value@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_owninguser_value": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "statecode@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "statecode": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "statuscode@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "statuscode": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_quantity@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_quantity@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_quantity": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_createdby_value@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_createdby_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_createdby_value@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_createdby_value": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_urgency@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_urgency": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_ownerid_value@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_ownerid_value@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_ownerid_value": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_requestid@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_requestid": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedon@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedon@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedon": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "cra66_attachment": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_modifiedby_value@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_modifiedby_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_modifiedby_value@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "_modifiedby_value": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "versionnumber@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "versionnumber@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "versionnumber": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdon@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdon@odata.type": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdon": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "cra66_batchupload@OData.Community.Display.V1.FormattedValue": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "cra66_batchupload": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_name": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owningbusinessunit@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owningbusinessunit@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "ownerid@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "ownerid@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdby@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdby@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdonbehalfby@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "createdonbehalfby@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedby@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedby@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedonbehalfby@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "modifiedonbehalfby@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owninguser@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owninguser@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owningteam@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "owningteam@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_SyncErrors@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_SyncErrors@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_DuplicateMatchingRecord@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_DuplicateMatchingRecord@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_DuplicateBaseRecord@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_DuplicateBaseRecord@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_AsyncOperations@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_AsyncOperations@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_MailboxTrackingFolders@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_MailboxTrackingFolders@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_UserEntityInstanceDatas@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_UserEntityInstanceDatas@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_ProcessSession@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_ProcessSession@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_BulkDeleteFailures@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_BulkDeleteFailures@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_PrincipalObjectAttributeAccesses@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_PrincipalObjectAttributeAccesses@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_Resource@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_Resource@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_County@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_County@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_State@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_State@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_FileAttachments@odata.associationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "rgex_request_FileAttachments@odata.navigationLink": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Download_a_file_or_an_image": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4bc799d3-a75b-483a-8277-311c642f4455"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetEntityFileImageFieldContent",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msrex_offerses",
                  "recordId": "@triggerOutputs()?['body/msrex_OffersId']",
                  "fileImageFieldName": "msresour_attachment"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "FileContent": {
              "runAfter": {
                "Download_a_file_or_an_image": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "17067d04-4536-4bea-917d-31f555820331"
              },
              "type": "Compose",
              "inputs": "@decodeBase64(body('Download_a_file_or_an_image')?['$content'])"
            },
            "SplitFileContent": {
              "runAfter": {
                "FileContent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67940547-d235-4498-b6da-8d5e8b0525fb"
              },
              "type": "Compose",
              "inputs": "@split(outputs('FileContent'),decodeUriComponent('%0A'))"
            },
            "Apply_to_each": {
              "foreach": "@skip(outputs('SplitFileContent'),1)",
              "actions": {
                "SplitLinesForJson": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "da5a7916-f55a-4359-8046-062f7197f11b"
                  },
                  "type": "Compose",
                  "inputs": "@split(item(), ',')"
                },
                "RequestsItemsJson": {
                  "runAfter": {
                    "SplitLinesForJson": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d96bd3b5-f313-4819-885b-afc0017eb250"
                  },
                  "type": "Compose",
                  "inputs": {
                    "Name": "@outputs('SplitLinesForJson')?[0]",
                    "Offer Summary": "@outputs('SplitLinesForJson')?[1]",
                    "Organization Name": "@outputs('SplitLinesForJson')?[2]",
                    "Offer Quantity": "@outputs('SplitLinesForJson')?[3]",
                    "Offer Quantity Units": "@outputs('SplitLinesForJson')?[4]"
                  }
                },
                "JsonRecord": {
                  "runAfter": {
                    "RequestsItemsJson": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ddaf7f9c-4d4a-4c2d-99bb-05d53c30bed1"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('RequestsItemsJson')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Offer Summary": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Organization Name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Offer Quantity": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Offer Quantity Units": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                },
                "If_Record_has_content": {
                  "actions": {
                    "Set_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c9f80a2f-2c4b-4c5e-bd0e-cf13edba4b88"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "QuantityFl",
                        "value": "@float(body('JsonRecord')?['Offer Quantity'])"
                      }
                    },
                    "List_rows": {
                      "runAfter": {
                        "Set_variable_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "081f924c-d9f7-469c-a704-6ee8cbe804a7"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "stringmaps",
                          "$filter": "attributename eq 'msrex_offerquantityunits' and objecttypecode eq 'msrex_offers' and value eq '@{variables('OfferUnitesName')}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Add_a_new_row": {
                      "runAfter": {
                        "Apply_to_each_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2cc2250a-8f56-4106-9e23-3c78064cdf63"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msrex_offerses",
                          "item/msrex_name": "@body('JsonRecord')?['Name']",
                          "item/msresour_batchupload": true,
                          "item/msresour_CreatedByContact@odata.bind": "contacts(@{body('Parse_JSON_2')?['_msresour_createdbycontact_value']})",
                          "item/msrex_offerquantity": "@variables('QuantityFl')",
                          "item/msrex_offerquantityunits": "@variables('OfferUnitTableID')",
                          "item/msrex_offerstatus": 1,
                          "item/msrex_offersummary": "@body('JsonRecord')?['Offer Summary']",
                          "item/msresour_organizationname": "@body('JsonRecord')?['Organization Name']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_2": {
                      "foreach": "@outputs('List_rows')?['body/value']",
                      "actions": {
                        "Set_variable_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2ddd9619-4cb2-458a-a987-c2008f56f849"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "OfferUnitTableID",
                            "value": "@items('Apply_to_each_2')?['attributevalue']"
                          }
                        }
                      },
                      "runAfter": {
                        "List_rows": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "352d30f8-be8c-4e7b-84a6-2a7da9398afc"
                      },
                      "type": "Foreach"
                    },
                    "Set_variable_3": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "17d5e640-be31-41c2-8885-778202db45db"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "OfferUnitesName",
                        "value": "@{replace(body('JsonRecord')?['Offer Quantity Units'],decodeUriComponent('%0D'),'')}"
                      }
                    }
                  },
                  "runAfter": {
                    "JsonRecord": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@body('JsonRecord')?['Offer Quantity']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "b33ad541-d287-452f-a19a-db51ec29f413"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "SplitFileContent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ccf45f9-d73c-484d-b35b-0bbba2497cd4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Parse_JSON_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/msresour_batchupload']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "72223dde-47f1-4b9e-83cd-1f643ac381fe"
          },
          "type": "If"
        },
        "Initialize_FilePathnameStr": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7bb356bc-dbed-463a-9f8f-68610f18e36e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FilePathnameStr",
                "type": "string",
                "value": "/CUSEC/"
              }
            ]
          }
        },
        "Initialize_QuantityFloat": {
          "runAfter": {
            "Initialize_FilePathnameStr": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf7cd3c8-2801-40c7-8a06-faa26f61b56f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "QuantityFl",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_variable_OfferUnitTableID": {
          "runAfter": {
            "Initialize_QuantityFloat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "571c6df7-755c-46f0-bac3-1f41c8fdbe6d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OfferUnitTableID",
                "type": "integer"
              }
            ]
          }
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "Initialize_variable_OfferUnitesName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51963709-93ef-4db3-9882-ddd53e97425a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msrex_offerses",
              "recordId": "@triggerOutputs()?['body/msrex_OffersId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_OfferUnitesName": {
          "runAfter": {
            "Initialize_variable_OfferUnitTableID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "571c6df7-755c-46f0-bac3-1f41c8fdbe6d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OfferUnitesName",
                "type": "string"
              }
            ]
          }
        },
        "Parse_JSON_2": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2ff1b59d-073c-478c-814b-c6cbcb221381"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_a_row_by_ID_2')",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.context": {
                  "type": "string"
                },
                "@@odata.type": {
                  "type": "string"
                },
                "@@odata.id": {
                  "type": "string"
                },
                "@@odata.etag": {
                  "type": "string"
                },
                "@@odata.editLink": {
                  "type": "string"
                },
                "msrex_offersid@odata.type": {
                  "type": "string"
                },
                "msrex_offersid": {
                  "type": "string"
                },
                "_owningbusinessunit_value@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "_owningbusinessunit_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                  "type": "string"
                },
                "_owningbusinessunit_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_owningbusinessunit_value@odata.type": {
                  "type": "string"
                },
                "_owningbusinessunit_value": {
                  "type": "string"
                },
                "msresour_attachment": {
                  "type": "string"
                },
                "statecode@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "statecode": {
                  "type": "integer"
                },
                "statuscode@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "statuscode": {
                  "type": "integer"
                },
                "_createdby_value@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "_createdby_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_createdby_value@odata.type": {
                  "type": "string"
                },
                "_createdby_value": {
                  "type": "string"
                },
                "_msresour_createdbycontact_value@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "_msresour_createdbycontact_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                  "type": "string"
                },
                "_msresour_createdbycontact_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_msresour_createdbycontact_value@odata.type": {
                  "type": "string"
                },
                "_msresour_createdbycontact_value": {
                  "type": "string"
                },
                "msresour_batchupload@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "msresour_batchupload": {
                  "type": "boolean"
                },
                "_ownerid_value@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                  "type": "string"
                },
                "_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_ownerid_value@odata.type": {
                  "type": "string"
                },
                "_ownerid_value": {
                  "type": "string"
                },
                "modifiedon@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "modifiedon@odata.type": {
                  "type": "string"
                },
                "modifiedon": {
                  "type": "string"
                },
                "_owninguser_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_owninguser_value@odata.type": {
                  "type": "string"
                },
                "_owninguser_value": {
                  "type": "string"
                },
                "_modifiedby_value@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "_modifiedby_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                  "type": "string"
                },
                "_modifiedby_value@odata.type": {
                  "type": "string"
                },
                "_modifiedby_value": {
                  "type": "string"
                },
                "versionnumber@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "versionnumber@odata.type": {
                  "type": "string"
                },
                "versionnumber": {
                  "type": "integer"
                },
                "msresour_attachment_name": {
                  "type": "string"
                },
                "createdon@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "createdon@odata.type": {
                  "type": "string"
                },
                "createdon": {
                  "type": "string"
                },
                "msrex_name": {
                  "type": "string"
                },
                "owningbusinessunit@odata.associationLink": {
                  "type": "string"
                },
                "owningbusinessunit@odata.navigationLink": {
                  "type": "string"
                },
                "msresour_CreatedByContact@odata.associationLink": {
                  "type": "string"
                },
                "msresour_CreatedByContact@odata.navigationLink": {
                  "type": "string"
                },
                "ownerid@odata.associationLink": {
                  "type": "string"
                },
                "ownerid@odata.navigationLink": {
                  "type": "string"
                },
                "createdby@odata.associationLink": {
                  "type": "string"
                },
                "createdby@odata.navigationLink": {
                  "type": "string"
                },
                "createdonbehalfby@odata.associationLink": {
                  "type": "string"
                },
                "createdonbehalfby@odata.navigationLink": {
                  "type": "string"
                },
                "modifiedby@odata.associationLink": {
                  "type": "string"
                },
                "modifiedby@odata.navigationLink": {
                  "type": "string"
                },
                "modifiedonbehalfby@odata.associationLink": {
                  "type": "string"
                },
                "modifiedonbehalfby@odata.navigationLink": {
                  "type": "string"
                },
                "owninguser@odata.associationLink": {
                  "type": "string"
                },
                "owninguser@odata.navigationLink": {
                  "type": "string"
                },
                "owningteam@odata.associationLink": {
                  "type": "string"
                },
                "owningteam@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_SyncErrors@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_SyncErrors@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_AsyncOperations@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_AsyncOperations@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_MailboxTrackingFolders@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_MailboxTrackingFolders@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_UserEntityInstanceDatas@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_UserEntityInstanceDatas@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_ProcessSession@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_ProcessSession@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_BulkDeleteFailures@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_BulkDeleteFailures@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_PrincipalObjectAttributeAccesses@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_PrincipalObjectAttributeAccesses@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_Annotations@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_Annotations@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_Account@odata.associationLink": {
                  "type": "string"
                },
                "msrex_Account@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_Offers_msrex_Offers_msrex_Resources@odata.associationLink": {
                  "type": "string"
                },
                "msrex_Offers_msrex_Offers_msrex_Resources@odata.navigationLink": {
                  "type": "string"
                },
                "msrex_offers_FileAttachments@odata.associationLink": {
                  "type": "string"
                },
                "msrex_offers_FileAttachments@odata.navigationLink": {
                  "type": "string"
                },
                "msresour_ModifiedByContact@odata.associationLink": {
                  "type": "string"
                },
                "msresour_ModifiedByContact@odata.navigationLink": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}