MSResourceExchange/Workflows/WhenResourceCommitted-PostMessageinTeams-110CD465-3D2E-EE11-BDF3-000D3A1C017F.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_f2173"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msresour_sharedcommondataserviceforapps_91470"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "0df29a7a-a00e-4e2d-b9e5-1803fe8f0e5d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msrex_request",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Post_message_in_a_chat_or_channel": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "92473714-71b6-4f3c-83c2-e8ad8eba471d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Channel",
                  "body/recipient/groupId": "6e84a089-6f02-45d2-9b15-7b7b7bc00079",
                  "body/recipient/channelId": "19:zSyCWftZ_hpqqn4rav-0EK5dgE0vNNUxOajE2XJTrks1@thread.tacv2",
                  "body/messageBody": "<p><span style=\"font-family: verdana\"><strong>Resource has been committed: </strong></span><a href=\"https://site-5rves.powerappsportals.com/Requests/\"><span style=\"font-family: verdana\">Resources</span></a><span style=\"font-family: verdana\"><br>\n<br>\n</span><span style=\"font-family: verdana\"><strong>Resource</strong></span><span style=\"font-family: verdana\">: </span><span style=\"font-family: verdana\">@{triggerOutputs()?['body/msrex_name']}</span><span style=\"font-family: verdana\"><br>\n<br>\n</span><span style=\"font-family: verdana\"><strong>Resource committed by:</strong></span><span style=\"font-family: verdana\"> </span><span style=\"font-family: verdana\">@{outputs('Get_a_row_by_ID')?['body/_msresour_createdbycontact_value']}</span><span style=\"font-family: verdana\"><br>\n</span><span style=\"font-family: verdana\"><strong>Details</strong></span><span style=\"font-family: verdana\">: </span><span style=\"font-family: verdana\">@{outputs('Get_a_row_by_ID')?['body/cr85b_commitdetails']}</span><span style=\"font-family: verdana\"></span></p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_message_in_a_chat_or_channel_2": {
              "runAfter": {
                "Post_message_in_a_chat_or_channel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92473714-71b6-4f3c-83c2-e8ad8eba471d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams_1",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@{outputs('Get_a_row_by_ID')?['body/_msresour_createdbycontact_value']};",
                  "body/messageBody": "<p><span style=\"font-family: verdana\"><strong>Resource has been committed: </strong></span><a href=\"https://site-5rves.powerappsportals.com/Requests/\"><span style=\"font-family: verdana\">Resources</span></a><span style=\"font-family: verdana\"><br>\n<br>\n</span><span style=\"font-family: verdana\"><strong>Resource</strong></span><span style=\"font-family: verdana\">: </span><span style=\"font-family: verdana\">@{triggerOutputs()?['body/msrex_name']}</span><span style=\"font-family: verdana\"><br>\n<br>\n</span><span style=\"font-family: verdana\"><strong>Resource committed by:</strong></span><span style=\"font-family: verdana\"> </span><span style=\"font-family: verdana\">@{outputs('Get_a_row_by_ID')?['body/_msresour_createdbycontact_value']}</span><span style=\"font-family: verdana\"><br>\n</span><span style=\"font-family: verdana\"><strong>Details</strong></span><span style=\"font-family: verdana\">: </span><span style=\"font-family: verdana\">@{outputs('Get_a_row_by_ID')?['body/cr85b_commitdetails']}</span><span style=\"font-family: verdana\"></span></p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/cr85b_commitresource']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "19741ae5-a8cc-4492-afa8-792e56636ccd"
          },
          "type": "If"
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2d51d65b-547b-49b0-95e3-cfc6aabf4422"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msrex_requests",
              "recordId": "@triggerOutputs()?['body/msrex_requestid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}